body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gainsboro;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scoreboard {
    display: flex;
    gap: 20px;
}

.choices {
    display: flex;
    gap: 20px;
}